{% extends 'base.html' %}

{% block title %}Player Page{% endblock %}


{% block content %}
<div class="flex flex-col-nowrap">

    <ul class="list-decimal">
        {% for p in player %}
        <li class="m-2 p-2 rounded-lg shadow-lg bg-white-200 ring-2 ring-blue-700  max-w-sm">
            <a href="{% url 'show_player_details' id=p.id %}" title="Click to view details">
                {{p.name}} ({{p.category.name}})
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}